$color: #33fff5;
$font-family: -apple-system;
$font-size: 40px;
$font-style: italic;

@mixin HelloStyle {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  font-style: $font-style;
}

.Hello { @include HelloStyle; }
